@import url(variaveis.css);

body{
    display: grid;
    grid-template-rows:71px calc(100vh - 71px) 60vh 80vh 100vh;
    grid-template-areas:
        "nav" 
        "home"
        "cards"
        "sobreMin"
    ;
    font-family: var(--titulos);
    color: var(--cor-letras);
    background-color: var(--cor-primaria);
}

p, h1, h2, h3, h4, h5{
    color: var(--cor-letras);
}

a{
    text-decoration: none;
}

.btn{
    width: 8rem;
    border-radius: 15px;
}

header{
    grid-area: nav;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
    background-color: var(--cor-primaria); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.carousel{
    grid-area: home;
}

main{
    grid-area: cards;
}

.sobreMim{
    grid-area: sobreMin;
    background-color: var(--cor-segundaria);
    border: 1px solid var(--cor-segundaria);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
