@import url(variaveis.css);

body{
    display: grid;
    grid-template-rows:71px 85vh 80vh 80vh 100px;
    grid-template-areas:
        "nav" 
        "home"
        "sobreMin"
        "formulario"
        "footer"
    ;
    font-family: var(--titulos);
    background-color: var(--cor-primaria);
}

p, h1, h2, h3, h4, h5{
    color: var(--cor-letras);
}

a{
    text-decoration: none;
}

.btn{
    width: 8rem;
    border-radius: 15px;
}

header{
    grid-area: nav;
}

.banners{
    grid-area: home;
}

.sobreMim{
    grid-area: sobreMin;
}

.container-formulario{
    grid-area: formulario;
}

footer{
    grid-area: footer;
}

