@media (min-width:250px) and (max-width: 591px){
    body{
        display: grid;
        grid-template-rows:4rem 85vh auto auto auto 150px;
        grid-template-areas:
            "nav" 
            "home"
            "cards"
            "sobreMin"
            "formulario"
            "footer"
        ;
        font-family: var(--titulos);
        background-color: var(--cor-primaria);
    }

    .img_tresEnfermeiros{
        width: 25rem;
    }

    .banners{
        height: 85vh;
        background-size: cover;
        background-image: url(../img/bannerCelular.jpg);
        background-position: top left;
        background-attachment: fixed;
    }

    .container-campo-formulario{
        width: 70%;
    }

    .img-contado{
        width: 45px;
    }

    .texto-contato{
        font-size: 12px;
    }
}