@import url(variaveis.css);

.sobreMim{
    background-color: var(--cor-segundaria);
    border: 1px solid var(--cor-segundaria);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.containerSobreMim{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTextoSobreMim{
    font-family: var(--font-text);
}

.tituloSobreMim{
    color: var(--cor-primaria);
}

.textoSobreMim{
    color: var(--cor-primaria);
}

